li:first-child .text {
  background-color: blue;
}
li:nth-child(2) .text {
  background-color: blue;
}
li:nth-child(3) .text {
  background-color: blue;
}
li:nth-child(4) .text {
  background-color: blue;
}
li:nth-child(5) .text {
  background-color: blue;
}
li:nth-child(6) .text {
  background-color: blue;
}
li:nth-child(7) .text {
  background-color: blue;
}
li:nth-child(8) .text {
  background-color: blue;
} 